<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="containter">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'index' %}">BRAND</a></li>
          <li><a class="navbar-brand" href="{% url 'admin:index' %}">ADMIN </a></li>
          <li><a class="navbar-brand" href="{% url 'basic_app:other' %}">OTHER</a></li>
        </ul>
      </div>
    </nav>
    <div class="containter">
      {% block body_block %}

      {% endblock %}
    </div>
  </body>
</html>
